In [14]:
import os
import pandas as pd
import urllib
import datetime
import time

In [7]:
time.strftime("%d%m%Y")

'10052016'

In [8]:
start = time.time()
print "hello Jalal Jahir what"
print "hello Jalal Jahir is a GREAT Guy"
end = time.time()
processtime = end - start
print "{0: .3}".format(processtime)
print float(processtime)

hello Jalal Jahir what
hello Jalal Jahir is a GREAT Guy
 0.0
0.0

In [10]:
print os.getcwd()

J:\Staff\Jalal\Monthly_Emp_Update_Scratch\wa_esd_emp

In [11]:
current_dir = os.getcwd()

In [25]:
esd_sa_url = "https://fortress.wa.gov/esd/employmentdata/docs/economic-reports/wa-historical-employment-seasonally-adjusted.xlsx"
sa_filename = esd_sa_url[-49:-5]+"_"+time.strftime("%m%d%Y")+esd_sa_url[-5:]
def download_esd():
    start = time.time()
    esdfile = urllib.URLopener()
    esdfile.retrieve(esd_sa_url, os.getcwd()+"/"+ sa_filename)
    end = time.time()
    processtime = end - start
    print "{0: .3}".format(processtime)

In [26]:
download_esd()

 1.2

In [29]:
help (urllib)

Help on module urllib:

NAME
    urllib - Open an arbitrary URL.

FILE
    c:\anaconda2\lib\urllib.py

DESCRIPTION
    See the following document for more info on URLs:
    "Names and Addresses, URIs, URLs, URNs, URCs", at
    http://www.w3.org/pub/WWW/Addressing/Overview.html

    See also the HTTP spec (from which the error codes are derived):
    "HTTP - Hypertext Transfer Protocol", at
    http://www.w3.org/pub/WWW/Protocols/

    Related standards and specs:
    - RFC1808: the "relative URL" spec. (authoritative status)
    - RFC1738 - the "URL standard". (authoritative status)
    - RFC1630 - the "URI spec". (informational status)

    The object returned by URLopener().open(file) will differ per
    protocol.  All you know is that is has methods read(), readline(),
    readlines(), fileno(), close() and info().  The read*(), fileno()
    and close() methods work like those of open files.
    The info() method returns a mimetools.Message object which can be
    used to query various info about the object, if available.
    (mimetools.Message objects are queried with the getheader() method.)

CLASSES
    URLopener
        FancyURLopener

    class FancyURLopener(URLopener)
     |  Derived class with handlers for errors we can handle (perhaps).
     |
     |  Methods defined here:
     |
     |  __init__(self, *args, **kwargs)
     |
     |  get_user_passwd(self, host, realm, clear_cache=0)
     |
     |  http_error_301(self, url, fp, errcode, errmsg, headers, data=None)
     |      Error 301 -- also relocated (permanently).
     |
     |  http_error_302(self, url, fp, errcode, errmsg, headers, data=None)
     |      Error 302 -- relocated (temporarily).
     |
     |  http_error_303(self, url, fp, errcode, errmsg, headers, data=None)
     |      Error 303 -- also relocated (essentially identical to 302).
     |
     |  http_error_307(self, url, fp, errcode, errmsg, headers, data=None)
     |      Error 307 -- relocated, but turn POST into error.
     |
     |  http_error_401(self, url, fp, errcode, errmsg, headers, data=None)
     |      Error 401 -- authentication required.
     |      This function supports Basic authentication only.
     |
     |  http_error_407(self, url, fp, errcode, errmsg, headers, data=None)
     |      Error 407 -- proxy authentication required.
     |      This function supports Basic authentication only.
     |
     |  http_error_default(self, url, fp, errcode, errmsg, headers)
     |      Default error handling -- don't raise an exception.
     |
     |  prompt_user_passwd(self, host, realm)
     |      Override this in a GUI environment!
     |
     |  redirect_internal(self, url, fp, errcode, errmsg, headers, data)
     |
     |  retry_http_basic_auth(self, url, realm, data=None)
     |
     |  retry_https_basic_auth(self, url, realm, data=None)
     |
     |  retry_proxy_http_basic_auth(self, url, realm, data=None)
     |
     |  retry_proxy_https_basic_auth(self, url, realm, data=None)
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from URLopener:
     |
     |  __del__(self)
     |
     |  addheader(self, *args)
     |      Add a header to be used by the HTTP interface only
     |      e.g. u.addheader('Accept', 'sound/basic')
     |
     |  cleanup(self)
     |
     |  close(self)
     |
     |  http_error(self, url, fp, errcode, errmsg, headers, data=None)
     |      Handle http errors.
     |      Derived class can override this, or provide specific handlers
     |      named http_error_DDD where DDD is the 3-digit error code.
     |
     |  open(self, fullurl, data=None)
     |      Use URLopener().open(file) instead of open(file, 'r').
     |
     |  open_data(self, url, data=None)
     |      Use "data" URL.
     |
     |  open_file(self, url)
     |      Use local file or FTP depending on form of URL.
     |
     |  open_ftp(self, url)
     |      Use FTP protocol.
     |
     |  open_http(self, url, data=None)
     |      Use HTTP protocol.
     |
     |  open_https(self, url, data=None)
     |      Use HTTPS protocol.
     |
     |  open_local_file(self, url)
     |      Use local file.
     |
     |  open_unknown(self, fullurl, data=None)
     |      Overridable interface to open unknown URL type.
     |
     |  open_unknown_proxy(self, proxy, fullurl, data=None)
     |      Overridable interface to open unknown URL type.
     |
     |  retrieve(self, url, filename=None, reporthook=None, data=None)
     |      retrieve(url) returns (filename, headers) for a local object
     |      or (tempfilename, headers) for a remote object.
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from URLopener:
     |
     |  version = 'Python-urllib/1.17'

    class URLopener
     |  Class to open URLs.
     |  This is a class rather than just a subroutine because we may need
     |  more than one set of global protocol-specific options.
     |  Note -- this is a base class for those who don't want the
     |  automatic handling of errors type 302 (relocated) and 401
     |  (authorization needed).
     |
     |  Methods defined here:
     |
     |  __del__(self)
     |
     |  __init__(self, proxies=None, context=None, **x509)
     |      # Constructor
     |
     |  addheader(self, *args)
     |      Add a header to be used by the HTTP interface only
     |      e.g. u.addheader('Accept', 'sound/basic')
     |
     |  cleanup(self)
     |
     |  close(self)
     |
     |  http_error(self, url, fp, errcode, errmsg, headers, data=None)
     |      Handle http errors.
     |      Derived class can override this, or provide specific handlers
     |      named http_error_DDD where DDD is the 3-digit error code.
     |
     |  http_error_default(self, url, fp, errcode, errmsg, headers)
     |      Default error handler: close the connection and raise IOError.
     |
     |  open(self, fullurl, data=None)
     |      Use URLopener().open(file) instead of open(file, 'r').
     |
     |  open_data(self, url, data=None)
     |      Use "data" URL.
     |
     |  open_file(self, url)
     |      Use local file or FTP depending on form of URL.
     |
     |  open_ftp(self, url)
     |      Use FTP protocol.
     |
     |  open_http(self, url, data=None)
     |      Use HTTP protocol.
     |
     |  open_https(self, url, data=None)
     |      Use HTTPS protocol.
     |
     |  open_local_file(self, url)
     |      Use local file.
     |
     |  open_unknown(self, fullurl, data=None)
     |      Overridable interface to open unknown URL type.
     |
     |  open_unknown_proxy(self, proxy, fullurl, data=None)
     |      Overridable interface to open unknown URL type.
     |
     |  retrieve(self, url, filename=None, reporthook=None, data=None)
     |      retrieve(url) returns (filename, headers) for a local object
     |      or (tempfilename, headers) for a remote object.
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  version = 'Python-urllib/1.17'

FUNCTIONS
    basejoin = urljoin(base, url, allow_fragments=True)
        Join a base URL and a possibly relative URL to form an absolute
        interpretation of the latter.

    ftperrors()
        Return the set of errors raised by the FTP class.

    getproxies()
        Return a dictionary of scheme -> proxy server URL mappings.

        Returns settings gathered from the environment, if specified,
        or the registry.

    localhost()
        Return the IP address of the magic hostname 'localhost'.

    pathname2url(p)
        OS-specific conversion from a file system path to a relative URL
        of the 'file' scheme; not recommended for general use.

    quote(s, safe='/')
        quote('abc def') -> 'abc%20def'

        Each part of a URL, e.g. the path info, the query, etc., has a
        different set of reserved characters that must be quoted.

        RFC 2396 Uniform Resource Identifiers (URI): Generic Syntax lists
        the following reserved characters.

        reserved    = ";" | "/" | "?" | ":" | "@" | "&" | "=" | "+" |
                      "$" | ","

        Each of these characters is reserved in some component of a URL,
        but not necessarily in all of them.

        By default, the quote function is intended for quoting the path
        section of a URL.  Thus, it will not encode '/'.  This character
        is reserved, but in typical usage the quote function is being
        called on a path where the existing slash characters are used as
        reserved characters.

    quote_plus(s, safe='')
        Quote the query fragment of a URL; replacing ' ' with '+'

    splitattr(url)
        splitattr('/path;attr1=value1;attr2=value2;...') ->
        '/path', ['attr1=value1', 'attr2=value2', ...].

    splithost(url)
        splithost('//host[:port]/path') --> 'host[:port]', '/path'.

    splitnport(host, defport=-1)
        Split host and port, returning numeric port.
        Return given default port if no ':' found; defaults to -1.
        Return numerical port if a valid number are found after ':'.
        Return None if ':' but not a valid number.

    splitpasswd(user)
        splitpasswd('user:passwd') -> 'user', 'passwd'.

    splitport(host)
        splitport('host:port') --> 'host', 'port'.

    splitquery(url)
        splitquery('/path?query') --> '/path', 'query'.

    splittag(url)
        splittag('/path#tag') --> '/path', 'tag'.

    splittype(url)
        splittype('type:opaquestring') --> 'type', 'opaquestring'.

    splituser(host)
        splituser('user[:passwd]@host[:port]') --> 'user[:passwd]', 'host[:port]'.

    splitvalue(attr)
        splitvalue('attr=value') --> 'attr', 'value'.

    thishost()
        Return the IP address of the current host.

    unquote(s)
        unquote('abc%20def') -> 'abc def'.

    unquote_plus(s)
        unquote('%7e/abc+def') -> '~/abc def'

    unwrap(url)
        unwrap('<URL:type://host/path>') --> 'type://host/path'.

    url2pathname(url)
        OS-specific conversion from a relative URL of the 'file' scheme
        to a file system path; not recommended for general use.

    urlcleanup()

    urlencode(query, doseq=0)
        Encode a sequence of two-element tuples or dictionary into a URL query string.

        If any values in the query arg are sequences and doseq is true, each
        sequence element is converted to a separate parameter.

        If the query arg is a sequence of two-element tuples, the order of the
        parameters in the output will match the order of parameters in the
        input.

    urlopen(url, data=None, proxies=None, context=None)
        Create a file-like object for the specified URL to read from.

    urlretrieve(url, filename=None, reporthook=None, data=None, context=None)

DATA
    __all__ = ['urlopen', 'URLopener', 'FancyURLopener', 'urlretrieve', 'u...
    __version__ = '1.17'

VERSION
    1.17

In [385]:
df_king = pd.read_excel(os.getcwd()+"/"+ sa_filename, sheetname="Seattle MSA", header = 1, index_col=[1])
df_sa_king = pd.DataFrame(df_king)

In [386]:
df_sa_king.head()

,NAICS CELL,1990-01-01 00:00:00,1990-02-01 00:00:00,1990-03-01 00:00:00,1990-04-01 00:00:00,1990-05-01 00:00:00,1990-06-01 00:00:00,1990-07-01 00:00:00,1990-08-01 00:00:00,1990-09-01 00:00:00,...,2015-06-01 00:00:00,2015-07-01 00:00:00,2015-08-01 00:00:00,2015-09-01 00:00:00,2015-10-01 00:00:00,2015-11-01 00:00:00,2015-12-01 00:00:00,2016-01-01 00:00:00,2016-02-01 00:00:00,2016-03-01 00:00:00
NAICS INDUSTRY,,,,,,,,,,,,,,,,,,,,,
Total Nonfarm,0,1096300,1098400,1101600,1103100,1106100,1111200,1113900,1119000,1115500,...,1591500,1590500,1594000,1594100,1594600,1598900,1602600,1607700,1615600,1619900
Total Private,5000000,951400,952200,956300,957600,960200,964400,966700,967500,967100,...,1376800,1382600,1392400,1385300,1380200,1382000,1390300,1394000,1400200,1402600
Goods Producing,6000000,277800,276800,278100,277300,277400,277900,278800,278100,277500,...,258600,261300,260900,260600,254500,252900,254100,251900,252700,254200
Mining and Logging,10000000,1900,1900,1900,2000,2000,2000,2000,2000,2000,...,800,800,800,800,700,700,700,700,800,700
Construction,20000000,61900,61800,62600,63200,63700,63800,63200,62900,62600,...,86400,87700,87600,87300,85000,83800,84800,85000,86700,88000

In [378]:
## df_sa_king["id2"] = df_sa_king.index

In [388]:
#df_sa_king.index

Index([u'Total Nonfarm', u'    Total Private', u'        Goods Producing',
       u'                Mining and Logging', u'                Construction',
       u'                    Construction of Buildings',
       u'                    Heavy and Civil Engineering Construction',
       u'                    Specialty Trade Contractors',
       u'                Manufacturing',
       u'                    Durable Goods Mfg',
       u'                        Fabricated Metal Product Mfg',
       u'                        Computer and Electronic Product Mfg',
       u'                            Navigational, Measuring, Electromedical and Control',
       u'                        Transportation Equipment Mfg',
       u'                            Aerospace Product and Parts Mfg',
       u'                    Nondurable Goods Mfg',
       u'                        Food Manufacturing',
       u'        Service Providing',
       u'            Trade, Transportation, and Utilities',
       u'                Wholesale Trade', u'                Retail Trade',
       u'                    Motor Vehicle and Parts Dealers',
       u'                    Food and Beverage Stores',
       u'                    General Merchandise Stores',
       u'                Transportation, Warehousing, and Utilities',
       u'                    Transportation and Warehousing',
       u'                        Air Transportation',
       u'                        Truck Transportation',
       u'                        Support Activities for Transportation',
       u'                        Warehousing and Storage',
       u'            Information', u'                Software Publishers',
       u'                Wired Telecommunications Carriers',
       u'            Financial Activities',
       u'                Finance and Insurance',
       u'                    Credit Intermediation and Related Activities',
       u'                    Insurance Carriers and Related Activities',
       u'                Real Estate, Rental and Leasing',
       u'            Professional and Business Services',
       u'                Professional, Scientific and Technical Services',
       u'                    Legal Services',
       u'                    Accounting, Tax Preparation, Bookkeeping and Payroll',
       u'                    Architectural, Engineering and Related Services',
       u'                    Computer Systems Design and Related Services',
       u'                Management of Companies and Enterprises',
       u'                Admin and Support and Waste Mgmt and Remediation',
       u'                    Administrative and Support Services',
       u'                        Employment Services',
       u'            Educational and Health Services',
       u'                Educational Services',
       u'                Ambulatory Health Care Services',
       u'                Hospitals',
       u'                Nursing and Residential Care Facilities',
       u'                Social Assistance',
       u'            Leisure and Hospitality',
       u'                Arts, Entertainment and Recreation',
       u'                Accommodation',
       u'                Food Services and Drinking Places',
       u'            Other Services',
       u'                Repair and Maintenance',
       u'                Personal and Laundry Services',
       u'                Membership Associations and Organizations',
       u'    Government', u'                Federal Government',
       u'                Total State Government',
       u'                    State Government Educational Services',
       u'                Total Local Government',
       u'                    Local Government Educational Services'],
      dtype='object', name=u'NAICS INDUSTRY')

In [390]:
df_sa_king = df_sa_king.transpose()

In [391]:
df_sa_king.head()

NAICS INDUSTRY,Total Nonfarm,Total Private,Goods Producing,Mining and Logging,Construction,Construction of Buildings,Heavy and Civil Engineering Construction,Specialty Trade Contractors,Manufacturing,Durable Goods Mfg,...,Other Services,Repair and Maintenance,Personal and Laundry Services,Membership Associations and Organizations,Government,Federal Government,Total State Government,State Government Educational Services,Total Local Government,Local Government Educational Services
NAICS CELL,0,5000000,6000000,10000000,20000000,20236000,20237000,20238000,30000000,31000000,...,80000000,80811000,80812000,80813000,90000000,90910000,90920000,90921611,90930000,90931611
1990-01-01 00:00:00,1096300,951400,277800,1900,61900,18400,8300,35200,214000,179600,...,40100,11400,11600,17100,144900,21700,42300,29800,80900,36400
1990-02-01 00:00:00,1098400,952200,276800,1900,61800,18500,8200,35100,213100,178700,...,40200,11500,11600,17100,146200,21700,42500,29800,82000,36500
1990-03-01 00:00:00,1101600,956300,278100,1900,62600,18900,8300,35400,213600,179200,...,40400,11600,11700,17100,145300,22000,42700,29900,80600,36500
1990-04-01 00:00:00,1103100,957600,277300,2000,63200,19300,8500,35400,212100,177400,...,40200,11700,11600,16900,145500,22100,42900,30100,80500,36600

In [392]:
df_sa_king['date_stamp']= df_sa_king.index

In [394]:
df_sa_king.head()

NAICS INDUSTRY,Total Nonfarm,Total Private,Goods Producing,Mining and Logging,Construction,Construction of Buildings,Heavy and Civil Engineering Construction,Specialty Trade Contractors,Manufacturing,Durable Goods Mfg,...,Repair and Maintenance,Personal and Laundry Services,Membership Associations and Organizations,Government,Federal Government,Total State Government,State Government Educational Services,Total Local Government,Local Government Educational Services,date_stamp
NAICS CELL,0,5000000,6000000,10000000,20000000,20236000,20237000,20238000,30000000,31000000,...,80811000,80812000,80813000,90000000,90910000,90920000,90921611,90930000,90931611,NAICS CELL
1990-01-01 00:00:00,1096300,951400,277800,1900,61900,18400,8300,35200,214000,179600,...,11400,11600,17100,144900,21700,42300,29800,80900,36400,1990-01-01 00:00:00
1990-02-01 00:00:00,1098400,952200,276800,1900,61800,18500,8200,35100,213100,178700,...,11500,11600,17100,146200,21700,42500,29800,82000,36500,1990-02-01 00:00:00
1990-03-01 00:00:00,1101600,956300,278100,1900,62600,18900,8300,35400,213600,179200,...,11600,11700,17100,145300,22000,42700,29900,80600,36500,1990-03-01 00:00:00
1990-04-01 00:00:00,1103100,957600,277300,2000,63200,19300,8500,35400,212100,177400,...,11700,11600,16900,145500,22100,42900,30100,80500,36600,1990-04-01 00:00:00

In [397]:
df_sa_king= df_sa_king.ix[1:]

In [398]:
df_sa_king.head()

NAICS INDUSTRY,Total Nonfarm,Total Private,Goods Producing,Mining and Logging,Construction,Construction of Buildings,Heavy and Civil Engineering Construction,Specialty Trade Contractors,Manufacturing,Durable Goods Mfg,...,Repair and Maintenance,Personal and Laundry Services,Membership Associations and Organizations,Government,Federal Government,Total State Government,State Government Educational Services,Total Local Government,Local Government Educational Services,date_stamp
1990-01-01 00:00:00,1096300,951400,277800,1900,61900,18400,8300,35200,214000,179600,...,11400,11600,17100,144900,21700,42300,29800,80900,36400,1990-01-01 00:00:00
1990-02-01 00:00:00,1098400,952200,276800,1900,61800,18500,8200,35100,213100,178700,...,11500,11600,17100,146200,21700,42500,29800,82000,36500,1990-02-01 00:00:00
1990-03-01 00:00:00,1101600,956300,278100,1900,62600,18900,8300,35400,213600,179200,...,11600,11700,17100,145300,22000,42700,29900,80600,36500,1990-03-01 00:00:00
1990-04-01 00:00:00,1103100,957600,277300,2000,63200,19300,8500,35400,212100,177400,...,11700,11600,16900,145500,22100,42900,30100,80500,36600,1990-04-01 00:00:00
1990-05-01 00:00:00,1106100,960200,277400,2000,63700,19500,8400,35800,211700,176900,...,11800,11600,16900,145900,22800,43200,30200,79900,36800,1990-05-01 00:00:00

In [399]:
df_sa_king2 = df_sa_king.reset_index(drop =True)

In [457]:
df_sa_king2

NAICS INDUSTRY,Total Nonfarm,Total Private,Goods Producing,Mining and Logging,Construction,Construction of Buildings,Heavy and Civil Engineering Construction,Specialty Trade Contractors,Manufacturing,Durable Goods Mfg,...,Membership Associations and Organizations,Government,Federal Government,Total State Government,State Government Educational Services,Total Local Government,Local Government Educational Services,date_stamp,year,datestamp
0,1096300,951400,277800,1900,61900,18400,8300,35200,214000,179600,...,17100,144900,21700,42300,29800,80900,36400,1990-01-01 00:00:00,1990,1990
1,1098400,952200,276800,1900,61800,18500,8200,35100,213100,178700,...,17100,146200,21700,42500,29800,82000,36500,1990-02-01 00:00:00,1990,1990
2,1101600,956300,278100,1900,62600,18900,8300,35400,213600,179200,...,17100,145300,22000,42700,29900,80600,36500,1990-03-01 00:00:00,1990,1990
3,1103100,957600,277300,2000,63200,19300,8500,35400,212100,177400,...,16900,145500,22100,42900,30100,80500,36600,1990-04-01 00:00:00,1990,1990
4,1106100,960200,277400,2000,63700,19500,8400,35800,211700,176900,...,16900,145900,22800,43200,30200,79900,36800,1990-05-01 00:00:00,1990,1990
5,1111200,964400,277900,2000,63800,19600,8400,35800,212100,177000,...,17100,146800,22000,43200,30200,81600,36900,1990-06-01 00:00:00,1990,1990
6,1113900,966700,278800,2000,63200,19200,8500,35500,213600,178200,...,17000,147200,21900,43800,30700,81500,35600,1990-07-01 00:00:00,1990,1990
7,1119000,967500,278100,2000,62900,19100,8400,35400,213200,177900,...,17100,151500,21500,43900,30700,86100,39400,1990-08-01 00:00:00,1990,1990
8,1115500,967100,277500,2000,62600,19000,8400,35200,212900,177300,...,17100,148400,21400,44100,30700,82900,37600,1990-09-01 00:00:00,1990,1990
9,1112200,963700,274800,2000,61400,18700,8200,34500,211400,175800,...,17100,148500,21200,44000,30600,83300,38000,1990-10-01 00:00:00,1990,1990
10,1116500,966900,275300,2000,61200,18600,8200,34400,212100,176400,...,17100,149600,21300,44100,30600,84200,38300,1990-11-01 00:00:00,1990,1990
11,1115600,965400,274000,1900,60600,18300,8300,34000,211500,175800,...,17100,150200,21200,44200,30700,84800,38500,1990-12-01 00:00:00,1990,1990
12,1109100,959100,271700,1800,60100,18300,8300,33500,209800,174300,...,17100,150000,21100,44400,31200,84500,38400,1991-01-01 00:00:00,1990,1990
13,1107500,959000,271200,1900,60700,18400,8400,33900,208600,172900,...,17000,148500,21200,44800,31300,82500,38700,1991-02-01 00:00:00,1990,1990
14,1111000,960600,270300,1900,60000,18300,8200,33500,208400,172500,...,17000,150400,21200,44800,31100,84400,38900,1991-03-01 00:00:00,1990,1990
15,1109100,957100,269000,1900,59500,17800,8000,33700,207600,172100,...,17100,152000,21200,45300,31600,85500,39000,1991-04-01 00:00:00,1990,1990
16,1113600,960400,269400,1900,59600,18100,8000,33500,207900,172200,...,17200,153200,21300,45300,31500,86600,39000,1991-05-01 00:00:00,1990,1990
17,1111600,958700,269100,1800,59000,17900,8000,33100,208300,172700,...,17000,152900,21400,45600,31800,85900,39300,1991-06-01 00:00:00,1990,1990
18,1116000,961000,270400,1700,59600,18200,7900,33500,209100,173600,...,17100,155000,21400,45500,31700,88100,41100,1991-07-01 00:00:00,1990,1990
19,1115800,961800,271200,1800,60000,18300,8000,33700,209400,173200,...,17200,154000,21700,45800,31900,86500,39500,1991-08-01 00:00:00,1990,1990
20,1118100,963300,271500,1800,60200,18400,8000,33800,209500,173500,...,17200,154800,21800,46200,32200,86800,39500,1991-09-01 00:00:00,1990,1990
21,1119100,964000,271200,1700,60800,18500,8000,34300,208700,172700,...,17300,155100,21700,46800,32600,86600,39000,1991-10-01 00:00:00,1990,1990
22,1121700,966500,271400,1800,61000,18500,8000,34500,208600,172600,...,17300,155200,21600,46900,32800,86700,39100,1991-11-01 00:00:00,1990,1990
23,1121800,967000,271000,1800,61100,18600,8000,34500,208100,172400,...,17200,154800,21700,47000,33000,86100,39000,1991-12-01 00:00:00,1990,1990
24,1125900,969900,271000,1600,61400,18600,8000,34800,208000,171400,...,17600,156000,21600,47100,32800,87300,39300,1992-01-01 00:00:00,1990,1990
25,1127300,969800,270000,1700,61400,18600,8000,34800,206900,170300,...,17600,157500,21600,47300,32800,88600,39200,1992-02-01 00:00:00,1990,1990
26,1127900,969000,269900,1600,61500,18600,7900,35000,206800,170100,...,17600,158900,21700,47200,33000,90000,39300,1992-03-01 00:00:00,1990,1990
27,1127800,970400,270000,1600,62300,18900,8300,35100,206100,169200,...,17600,157400,21700,46800,32700,88900,39400,1992-04-01 00:00:00,1990,1990
28,1129000,969800,270400,1600,62700,19000,8400,35300,206100,169200,...,17300,159200,21700,47100,32900,90400,39600,1992-05-01 00:00:00,1990,1990
29,1128600,970800,269800,1600,63000,19100,8300,35600,205200,168100,...,17400,157800,21700,46600,32300,89500,39800,1992-06-01 00:00:00,1990,1990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,1514900,1306700,244800,700,74000,18700,8700,46600,170100,143000,...,25700,208200,22200,64700,47500,121300,51700,2013-10-01 00:00:00,1990,1990
286,1521200,1312500,243900,700,73300,18700,8300,46300,169900,143200,...,23900,208700,22000,64900,47900,121800,54000,2013-11-01 00:00:00,1990,1990
287,1522800,1318100,243800,700,72600,18700,8000,45900,170500,143900,...,23500,204700,21700,61800,44800,121200,55200,2013-12-01 00:00:00,1990,1990
288,1540900,1331100,243800,700,73900,18800,7900,47200,169200,142600,...,25700,209800,22500,65700,47800,121600,56000,2014-01-01 00:00:00,1990,1990
289,1544200,1334400,244000,700,74000,18800,7800,47400,169300,142000,...,26900,209800,22400,65800,48200,121600,56200,2014-02-01 00:00:00,1990,1990
290,1544500,1333500,244700,700,74900,19100,8000,47800,169100,142100,...,27100,211000,22500,66000,48400,122500,56000,2014-03-01 00:00:00,1990,1990
291,1537400,1326400,244200,700,74500,18700,8100,47700,169000,142000,...,26700,211000,22700,65400,48100,122900,54800,2014-04-01 00:00:00,1990,1990
292,1538300,1327300,245700,700,75700,19000,8400,48300,169300,142400,...,27000,211000,22400,65300,48400,123300,55100,2014-05-01 00:00:00,1990,1990
293,1536900,1328400,247800,700,76700,19500,8600,48600,170400,143100,...,27000,208500,22100,62700,45600,123700,54300,2014-06-01 00:00:00,1990,1990
294,1543600,1340600,252100,700,79000,20100,8800,50100,172400,144200,...,27500,203000,22300,57900,40400,122800,51900,2014-07-01 00:00:00,1990,1990
295,1547700,1352100,253000,700,80300,20600,8900,50800,172000,143800,...,27200,195600,22000,55900,38600,117700,46600,2014-08-01 00:00:00,1990,1990
296,1545100,1342100,252900,700,80900,21100,8900,50900,171300,142900,...,26800,203000,21900,61600,44500,119500,48700,2014-09-01 00:00:00,1990,1990
297,1557700,1347000,252500,800,81400,21100,8800,51500,170300,142500,...,26200,210700,21900,65300,48600,123500,53200,2014-10-01 00:00:00,1990,1990
298,1562800,1351100,252300,800,81300,21200,8300,51800,170200,142800,...,24400,211700,21600,65600,49000,124500,55500,2014-11-01 00:00:00,1990,1990
299,1568100,1360200,253100,800,81800,21700,8000,52100,170500,143200,...,24000,207900,21400,63000,46100,123500,56900,2014-12-01 00:00:00,1990,1990
300,1584800,1371200,254900,800,83700,21600,7500,54600,170400,142700,...,25800,213600,22000,67200,49300,124400,57800,2015-01-01 00:00:00,1990,1990
301,1589900,1375900,255100,800,84100,21700,7500,54900,170200,142400,...,27000,214000,22100,67600,49900,124300,58000,2015-02-01 00:00:00,1990,1990
302,1593000,1377700,256700,800,84900,22000,7700,55200,171000,142700,...,27200,215300,22100,67900,50100,125300,57700,2015-03-01 00:00:00,1990,1990
303,1589000,1372800,255900,800,85100,21900,8000,55200,170000,142400,...,26900,216200,22500,67100,49600,126600,56800,2015-04-01 00:00:00,1990,1990
304,1587700,1372300,256300,800,85400,22100,8100,55200,170100,142600,...,27000,215400,22100,66000,49100,127300,57200,2015-05-01 00:00:00,1990,1990
305,1591500,1376800,258600,800,86400,22600,8400,55400,171400,143300,...,26800,214700,22000,64800,47500,127900,56500,2015-06-01 00:00:00,1990,1990
306,1590500,1382600,261300,800,87700,22600,8600,56500,172800,144300,...,27300,207900,22300,59600,42400,126000,53300,2015-07-01 00:00:00,1990,1990
307,1594000,1392400,260900,800,87600,22700,8500,56400,172500,143500,...,27100,201600,22000,57900,40900,121700,48700,2015-08-01 00:00:00,1990,1990
308,1594100,1385300,260600,800,87300,22900,8500,55900,172500,143300,...,27000,208800,21800,64500,47400,122500,49600,2015-09-01 00:00:00,1990,1990
309,1594600,1380200,254500,700,85000,22200,8100,54700,168800,140400,...,26000,214400,21900,66700,50200,125800,54300,2015-10-01 00:00:00,1990,1990
310,1598900,1382000,252900,700,83800,21900,7800,54100,168400,141200,...,23700,216900,21600,68300,51500,127000,56700,2015-11-01 00:00:00,1990,1990
311,1602600,1390300,254100,700,84800,22200,7400,55200,168600,142200,...,23200,212300,21400,64700,47700,126200,58200,2015-12-01 00:00:00,1990,1990
312,1607700,1394000,251900,700,85000,22000,6900,56100,166200,139800,...,25300,213700,21800,66400,49000,125500,58300,2016-01-01 00:00:00,1990,1990
313,1615600,1400200,252700,800,86700,22200,7000,57500,165200,138500,...,26700,215400,21900,67900,50600,125600,58500,2016-02-01 00:00:00,1990,1990
314,1619900,1402600,254200,700,88000,22100,7200,58700,165500,138200,...,26700,217300,21900,68800,51300,126600,58200,2016-03-01 00:00:00,1990,1990

In [536]:
df_sa_king2["year"] = df_sa_king2["date_stamp"].dt.year

In [537]:
df_sa_king2.tail()

NAICS INDUSTRY,Total Nonfarm,Total Private,Goods Producing,Mining and Logging,Construction,Construction of Buildings,Heavy and Civil Engineering Construction,Specialty Trade Contractors,Manufacturing,Durable Goods Mfg,...,Membership Associations and Organizations,Government,Federal Government,Total State Government,State Government Educational Services,Total Local Government,Local Government Educational Services,date_stamp,year,datestamp
310,1598900,1382000,252900,700,83800,21900,7800,54100,168400,141200,...,23700,216900,21600,68300,51500,127000,56700,2015-11-01 00:00:00,2015,1990
311,1602600,1390300,254100,700,84800,22200,7400,55200,168600,142200,...,23200,212300,21400,64700,47700,126200,58200,2015-12-01 00:00:00,2015,1990
312,1607700,1394000,251900,700,85000,22000,6900,56100,166200,139800,...,25300,213700,21800,66400,49000,125500,58300,2016-01-01 00:00:00,2016,1990
313,1615600,1400200,252700,800,86700,22200,7000,57500,165200,138500,...,26700,215400,21900,67900,50600,125600,58500,2016-02-01 00:00:00,2016,1990
314,1619900,1402600,254200,700,88000,22100,7200,58700,165500,138200,...,26700,217300,21900,68800,51300,126600,58200,2016-03-01 00:00:00,2016,1990

In [526]:
get_year()

['0     1990-01-01\n1     1990-02-01\n2     1990-03-01\n3     1990-04-01\n4     1990-05-01\n5     1990-06-01\n6     1990-07-01\n7     1990-08-01\n8     1990-09-01\n9     1990-10-01\n10    1990-11-01\n11    1990-12-01\n12    1991-01-01\n13    1991-02-01\n14    1991-03-01\n15    1991-04-01\n16    1991-05-01\n17    1991-06-01\n18    1991-07-01\n19    1991-08-01\n20    1991-09-01\n21    1991-10-01\n22    1991-11-01\n23    1991-12-01\n24    1992-01-01\n25    1992-02-01\n26    1992-03-01\n27    1992-04-01\n28    1992-05-01\n29    1992-06-01\n         ...    \n285   2013-10-01\n286   2013-11-01\n287   2013-12-01\n288   2014-01-01\n289   2014-02-01\n290   2014-03-01\n291   2014-04-01\n292   2014-05-01\n293   2014-06-01\n294   2014-07-01\n295   2014-08-01\n296   2014-09-01\n297   2014-10-01\n298   2014-11-01\n299   2014-12-01\n300   2015-01-01\n301   2015-02-01\n302   2015-03-01\n303   2015-04-01\n304   2015-05-01\n305   2015-06-01\n306   2015-07-01\n307   2015-08-01\n308   2015-09-01\n309   2015-10-01\n310   2015-11-01\n311   2015-12-01\n312   2016-01-01\n313   2016-02-01\n314   2016-03-01\nName: date_stamp, dtype: datetime64[ns]']
['0     1990-01-01\n1     1990-02-01\n2     1990-03-01\n3     1990-04-01\n4     1990-05-01\n5     1990-06-01\n6     1990-07-01\n7     1990-08-01\n8     1990-09-01\n9     1990-10-01\n10    1990-11-01\n11    1990-12-01\n12    1991-01-01\n13    1991-02-01\n14    1991-03-01\n15    1991-04-01\n16    1991-05-01\n17    1991-06-01\n18    1991-07-01\n19    1991-08-01\n20    1991-09-01\n21    1991-10-01\n22    1991-11-01\n23    1991-12-01\n24    1992-01-01\n25    1992-02-01\n26    1992-03-01\n27    1992-04-01\n28    1992-05-01\n29    1992-06-01\n         ...    \n285   2013-10-01\n286   2013-11-01\n287   2013-12-01\n288   2014-01-01\n289   2014-02-01\n290   2014-03-01\n291   2014-04-01\n292   2014-05-01\n293   2014-06-01\n294   2014-07-01\n295   2014-08-01\n296   2014-09-01\n297   2014-10-01\n298   2014-11-01\n299   2014-12-01\n300   2015-01-01\n301   2015-02-01\n302   2015-03-01\n303   2015-04-01\n304   2015-05-01\n305   2015-06-01\n306   2015-07-01\n307   2015-08-01\n308   2015-09-01\n309   2015-10-01\n310   2015-11-01\n311   2015-12-01\n312   2016-01-01\n313   2016-02-01\n314   2016-03-01\nName: date_stamp, dtype: datetime64[ns]']
['0     1990-01-01\n1     1990-02-01\n2     1990-03-01\n3     1990-04-01\n4     1990-05-01\n5     1990-06-01\n6     1990-07-01\n7     1990-08-01\n8     1990-09-01\n9     1990-10-01\n10    1990-11-01\n11    1990-12-01\n12    1991-01-01\n13    1991-02-01\n14    1991-03-01\n15    1991-04-01\n16    1991-05-01\n17    1991-06-01\n18    1991-07-01\n19    1991-08-01\n20    1991-09-01\n21    1991-10-01\n22    1991-11-01\n23    1991-12-01\n24    1992-01-01\n25    1992-02-01\n26    1992-03-01\n27    1992-04-01\n28    1992-05-01\n29    1992-06-01\n         ...    \n285   2013-10-01\n286   2013-11-01\n287   2013-12-01\n288   2014-01-01\n289   2014-02-01\n290   2014-03-01\n291   2014-04-01\n292   2014-05-01\n293   2014-06-01\n294   2014-07-01\n295   2014-08-01\n296   2014-09-01\n297   2014-10-01\n298   2014-11-01\n299   2014-12-01\n300   2015-01-01\n301   2015-02-01\n302   2015-03-01\n303   2015-04-01\n304   2015-05-01\n305   2015-06-01\n306   2015-07-01\n307   2015-08-01\n308   2015-09-01\n309   2015-10-01\n310   2015-11-01\n311   2015-12-01\n312   2016-01-01\n313   2016-02-01\n314   2016-03-01\nName: date_stamp, dtype: datetime64[ns]']
['0     1990-01-01\n1     1990-02-01\n2     1990-03-01\n3     1990-04-01\n4     1990-05-01\n5     1990-06-01\n6     1990-07-01\n7     1990-08-01\n8     1990-09-01\n9     1990-10-01\n10    1990-11-01\n11    1990-12-01\n12    1991-01-01\n13    1991-02-01\n14    1991-03-01\n15    1991-04-01\n16    1991-05-01\n17    1991-06-01\n18    1991-07-01\n19    1991-08-01\n20    1991-09-01\n21    1991-10-01\n22    1991-11-01\n23    1991-12-01\n24    1992-01-01\n25    1992-02-01\n26    1992-03-01\n27    1992-04-01\n28    1992-05-01\n29    1992-06-01\n         ...    \n285   2013-10-01\n286   2013-11-01\n287   2013-12-01\n288   2014-01-01\n289   2014-02-01\n290   2014-03-01\n291   2014-04-01\n292   2014-05-01\n293   2014-06-01\n294   2014-07-01\n295   2014-08-01\n296   2014-09-01\n297   2014-10-01\n298   2014-11-01\n299   2014-12-01\n300   2015-01-01\n301   2015-02-01\n302   2015-03-01\n303   2015-04-01\n304   2015-05-01\n305   2015-06-01\n306   2015-07-01\n307   2015-08-01\n308   2015-09-01\n309   2015-10-01\n310   2015-11-01\n311   2015-12-01\n312   2016-01-01\n313   2016-02-01\n314   2016-03-01\nName: date_stamp, dtype: datetime64[ns]']
['0     1990-01-01\n1     1990-02-01\n2     1990-03-01\n3     1990-04-01\n4     1990-05-01\n5     1990-06-01\n6     1990-07-01\n7     1990-08-01\n8     1990-09-01\n9     1990-10-01\n10    1990-11-01\n11    1990-12-01\n12    1991-01-01\n13    1991-02-01\n14    1991-03-01\n15    1991-04-01\n16    1991-05-01\n17    1991-06-01\n18    1991-07-01\n19    1991-08-01\n20    1991-09-01\n21    1991-10-01\n22    1991-11-01\n23    1991-12-01\n24    1992-01-01\n25    1992-02-01\n26    1992-03-01\n27    1992-04-01\n28    1992-05-01\n29    1992-06-01\n         ...    \n285   2013-10-01\n286   2013-11-01\n287   2013-12-01\n288   2014-01-01\n289   2014-02-01\n290   2014-03-01\n291   2014-04-01\n292   2014-05-01\n293   2014-06-01\n294   2014-07-01\n295   2014-08-01\n296   2014-09-01\n297   2014-10-01\n298   2014-11-01\n299   2014-12-01\n300   2015-01-01\n301   2015-02-01\n302   2015-03-01\n303   2015-04-01\n304   2015-05-01\n305   2015-06-01\n306   2015-07-01\n307   2015-08-01\n308   2015-09-01\n309   2015-10-01\n310   2015-11-01\n311   2015-12-01\n312   2016-01-01\n313   2016-02-01\n314   2016-03-01\nName: date_stamp, dtype: datetime64[ns]']
['0     1990-01-01\n1     1990-02-01\n2     1990-03-01\n3     1990-04-01\n4     1990-05-01\n5     1990-06-01\n6     1990-07-01\n7     1990-08-01\n8     1990-09-01\n9     1990-10-01\n10    1990-11-01\n11    1990-12-01\n12    1991-01-01\n13    1991-02-01\n14    1991-03-01\n15    1991-04-01\n16    1991-05-01\n17    1991-06-01\n18    1991-07-01\n19    1991-08-01\n20    1991-09-01\n21    1991-10-01\n22    1991-11-01\n23    1991-12-01\n24    1992-01-01\n25    1992-02-01\n26    1992-03-01\n27    1992-04-01\n28    1992-05-01\n29    1992-06-01\n         ...    \n285   2013-10-01\n286   2013-11-01\n287   2013-12-01\n288   2014-01-01\n289   2014-02-01\n290   2014-03-01\n291   2014-04-01\n292   2014-05-01\n293   2014-06-01\n294   2014-07-01\n295   2014-08-01\n296   2014-09-01\n297   2014-10-01\n298   2014-11-01\n299   2014-12-01\n300   2015-01-01\n301   2015-02-01\n302   2015-03-01\n303   2015-04-01\n304   2015-05-01\n305   2015-06-01\n306   2015-07-01\n307   2015-08-01\n308   2015-09-01\n309   2015-10-01\n310   2015-11-01\n311   2015-12-01\n312   2016-01-01\n313   2016-02-01\n314   2016-03-01\nName: date_stamp, dtype: datetime64[ns]']
['0     1990-01-01\n1     1990-02-01\n2     1990-03-01\n3     1990-04-01\n4     1990-05-01\n5     1990-06-01\n6     1990-07-01\n7     1990-08-01\n8     1990-09-01\n9     1990-10-01\n10    1990-11-01\n11    1990-12-01\n12    1991-01-01\n13    1991-02-01\n14    1991-03-01\n15    1991-04-01\n16    1991-05-01\n17    1991-06-01\n18    1991-07-01\n19    1991-08-01\n20    1991-09-01\n21    1991-10-01\n22    1991-11-01\n23    1991-12-01\n24    1992-01-01\n25    1992-02-01\n26    1992-03-01\n27    1992-04-01\n28    1992-05-01\n29    1992-06-01\n         ...    \n285   2013-10-01\n286   2013-11-01\n287   2013-12-01\n288   2014-01-01\n289   2014-02-01\n290   2014-03-01\n291   2014-04-01\n292   2014-05-01\n293   2014-06-01\n294   2014-07-01\n295   2014-08-01\n296   2014-09-01\n297   2014-10-01\n298   2014-11-01\n299   2014-12-01\n300   2015-01-01\n301   2015-02-01\n302   2015-03-01\n303   2015-04-01\n304   2015-05-01\n305   2015-06-01\n306   2015-07-01\n307   2015-08-01\n308   2015-09-01\n309   2015-10-01\n310   2015-11-01\n311   2015-12-01\n312   2016-01-01\n313   2016-02-01\n314   2016-03-01\nName: date_stamp, dtype: datetime64[ns]']
['0     1990-01-01\n1     1990-02-01\n2     1990-03-01\n3     1990-04-01\n4     1990-05-01\n5     1990-06-01\n6     1990-07-01\n7     1990-08-01\n8     1990-09-01\n9     1990-10-01\n10    1990-11-01\n11    1990-12-01\n12    1991-01-01\n13    1991-02-01\n14    1991-03-01\n15    1991-04-01\n16    1991-05-01\n17    1991-06-01\n18    1991-07-01\n19    1991-08-01\n20    1991-09-01\n21    1991-10-01\n22    1991-11-01\n23    1991-12-01\n24    1992-01-01\n25    1992-02-01\n26    1992-03-01\n27    1992-04-01\n28    1992-05-01\n29    1992-06-01\n         ...    \n285   2013-10-01\n286   2013-11-01\n287   2013-12-01\n288   2014-01-01\n289   2014-02-01\n290   2014-03-01\n291   2014-04-01\n292   2014-05-01\n293   2014-06-01\n294   2014-07-01\n295   2014-08-01\n296   2014-09-01\n297   2014-10-01\n298   2014-11-01\n299   2014-12-01\n300   2015-01-01\n301   2015-02-01\n302   2015-03-01\n303   2015-04-01\n304   2015-05-01\n305   2015-06-01\n306   2015-07-01\n307   2015-08-01\n308   2015-09-01\n309   2015-10-01\n310   2015-11-01\n311   2015-12-01\n312   2016-01-01\n313   2016-02-01\n314   2016-03-01\nName: date_stamp, dtype: datetime64[ns]']
['0     1990-01-01\n1     1990-02-01\n2     1990-03-01\n3     1990-04-01\n4     1990-05-01\n5     1990-06-01\n6     1990-07-01\n7     1990-08-01\n8     1990-09-01\n9     1990-10-01\n10    1990-11-01\n11    1990-12-01\n12    1991-01-01\n13    1991-02-01\n14    1991-03-01\n15    1991-04-01\n16    1991-05-01\n17    1991-06-01\n18    1991-07-01\n19    1991-08-01\n20    1991-09-01\n21    1991-10-01\n22    1991-11-01\n23    1991-12-01\n24    1992-01-01\n25    1992-02-01\n26    1992-03-01\n27    1992-04-01\n28    1992-05-01\n29    1992-06-01\n         ...    \n285   2013-10-01\n286   2013-11-01\n287   2013-12-01\n288   2014-01-01\n289   2014-02-01\n290   2014-03-01\n291   2014-04-01\n292   2014-05-01\n293   2014-06-01\n294   2014-07-01\n295   2014-08-01\n296   2014-09-01\n297   2014-10-01\n298   2014-11-01\n299   2014-12-01\n300   2015-01-01\n301   2015-02-01\n302   2015-03-01\n303   2015-04-01\n304   2015-05-01\n305   2015-06-01\n306   2015-07-01\n307   2015-08-01\n308   2015-09-01\n309   2015-10-01\n310   2015-11-01\n311   2015-12-01\n312   2016-01-01\n313   2016-02-01\n314   2016-03-01\nName: date_stamp, dtype: datetime64[ns]']
['0     1990-01-01\n1     1990-02-01\n2     1990-03-01\n3     1990-04-01\n4     1990-05-01\n5     1990-06-01\n6     1990-07-01\n7     1990-08-01\n8     1990-09-01\n9     1990-10-01\n10    1990-11-01\n11    1990-12-01\n12    1991-01-01\n13    1991-02-01\n14    1991-03-01\n15    1991-04-01\n16    1991-05-01\n17    1991-06-01\n18    1991-07-01\n19    1991-08-01\n20    1991-09-01\n21    1991-10-01\n22    1991-11-01\n23    1991-12-01\n24    1992-01-01\n25    1992-02-01\n26    1992-03-01\n27    1992-04-01\n28    1992-05-01\n29    1992-06-01\n         ...    \n285   2013-10-01\n286   2013-11-01\n287   2013-12-01\n288   2014-01-01\n289   2014-02-01\n290   2014-03-01\n291   2014-04-01\n292   2014-05-01\n293   2014-06-01\n294   2014-07-01\n295   2014-08-01\n296   2014-09-01\n297   2014-10-01\n298   2014-11-01\n299   2014-12-01\n300   2015-01-01\n301   2015-02-01\n302   2015-03-01\n303   2015-04-01\n304   2015-05-01\n305   2015-06-01\n306   2015-07-01\n307   2015-08-01\n308   2015-09-01\n309   2015-10-01\n310   2015-11-01\n311   2015-12-01\n312   2016-01-01\n313   2016-02-01\n314   2016-03-01\nName: date_stamp, dtype: datetime64[ns]']
['0     1990-01-01\n1     1990-02-01\n2     1990-03-01\n3     1990-04-01\n4     1990-05-01\n5     1990-06-01\n6     1990-07-01\n7     1990-08-01\n8     1990-09-01\n9     1990-10-01\n10    1990-11-01\n11    1990-12-01\n12    1991-01-01\n13    1991-02-01\n14    1991-03-01\n15    1991-04-01\n16    1991-05-01\n17    1991-06-01\n18    1991-07-01\n19    1991-08-01\n20    1991-09-01\n21    1991-10-01\n22    1991-11-01\n23    1991-12-01\n24    1992-01-01\n25    1992-02-01\n26    1992-03-01\n27    1992-04-01\n28    1992-05-01\n29    1992-06-01\n         ...    \n285   2013-10-01\n286   2013-11-01\n287   2013-12-01\n288   2014-01-01\n289   2014-02-01\n290   2014-03-01\n291   2014-04-01\n292   2014-05-01\n293   2014-06-01\n294   2014-07-01\n295   2014-08-01\n296   2014-09-01\n297   2014-10-01\n298   2014-11-01\n299   2014-12-01\n300   2015-01-01\n301   2015-02-01\n302   2015-03-01\n303   2015-04-01\n304   2015-05-01\n305   2015-06-01\n306   2015-07-01\n307   2015-08-01\n308   2015-09-01\n309   2015-10-01\n310   2015-11-01\n311   2015-12-01\n312   2016-01-01\n313   2016-02-01\n314   2016-03-01\nName: date_stamp, dtype: datetime64[ns]']
['0     1990-01-01\n1     1990-02-01\n2     1990-03-01\n3     1990-04-01\n4     1990-05-01\n5     1990-06-01\n6     1990-07-01\n7     1990-08-01\n8     1990-09-01\n9     1990-10-01\n10    1990-11-01\n11    1990-12-01\n12    1991-01-01\n13    1991-02-01\n14    1991-03-01\n15    1991-04-01\n16    1991-05-01\n17    1991-06-01\n18    1991-07-01\n19    1991-08-01\n20    1991-09-01\n21    1991-10-01\n22    1991-11-01\n23    1991-12-01\n24    1992-01-01\n25    1992-02-01\n26    1992-03-01\n27    1992-04-01\n28    1992-05-01\n29    1992-06-01\n         ...    \n285   2013-10-01\n286   2013-11-01\n287   2013-12-01\n288   2014-01-01\n289   2014-02-01\n290   2014-03-01\n291   2014-04-01\n292   2014-05-01\n293   2014-06-01\n294   2014-07-01\n295   2014-08-01\n296   2014-09-01\n297   2014-10-01\n298   2014-11-01\n299   2014-12-01\n300   2015-01-01\n301   2015-02-01\n302   2015-03-01\n303   2015-04-01\n304   2015-05-01\n305   2015-06-01\n306   2015-07-01\n307   2015-08-01\n308   2015-09-01\n309   2015-10-01\n310   2015-11-01\n311   2015-12-01\n312   2016-01-01\n313   2016-02-01\n314   2016-03-01\nName: date_stamp, dtype: datetime64[ns]']
['0     1990-01-01\n1     1990-02-01\n2     1990-03-01\n3     1990-04-01\n4     1990-05-01\n5     1990-06-01\n6     1990-07-01\n7     1990-08-01\n8     1990-09-01\n9     1990-10-01\n10    1990-11-01\n11    1990-12-01\n12    1991-01-01\n13    1991-02-01\n14    1991-03-01\n15    1991-04-01\n16    1991-05-01\n17    1991-06-01\n18    1991-07-01\n19    1991-08-01\n20    1991-09-01\n21    1991-10-01\n22    1991-11-01\n23    1991-12-01\n24    1992-01-01\n25    1992-02-01\n26    1992-03-01\n27    1992-04-01\n28    1992-05-01\n29    1992-06-01\n         ...    \n285   2013-10-01\n286   2013-11-01\n287   2013-12-01\n288   2014-01-01\n289   2014-02-01\n290   2014-03-01\n291   2014-04-01\n292   2014-05-01\n293   2014-06-01\n294   2014-07-01\n295   2014-08-01\n296   2014-09-01\n297   2014-10-01\n298   2014-11-01\n299   2014-12-01\n300   2015-01-01\n301   2015-02-01\n302   2015-03-01\n303   2015-04-01\n304   2015-05-01\n305   2015-06-01\n306   2015-07-01\n307   2015-08-01\n308   2015-09-01\n309   2015-10-01\n310   2015-11-01\n311   2015-12-01\n312   2016-01-01\n313   2016-02-01\n314   2016-03-01\nName: date_stamp, dtype: datetime64[ns]']
['0     1990-01-01\n1     1990-02-01\n2     1990-03-01\n3     1990-04-01\n4     1990-05-01\n5     1990-06-01\n6     1990-07-01\n7     1990-08-01\n8     1990-09-01\n9     1990-10-01\n10    1990-11-01\n11    1990-12-01\n12    1991-01-01\n13    1991-02-01\n14    1991-03-01\n15    1991-04-01\n16    1991-05-01\n17    1991-06-01\n18    1991-07-01\n19    1991-08-01\n20    1991-09-01\n21    1991-10-01\n22    1991-11-01\n23    1991-12-01\n24    1992-01-01\n25    1992-02-01\n26    1992-03-01\n27    1992-04-01\n28    1992-05-01\n29    1992-06-01\n         ...    \n285   2013-10-01\n286   2013-11-01\n287   2013-12-01\n288   2014-01-01\n289   2014-02-01\n290   2014-03-01\n291   2014-04-01\n292   2014-05-01\n293   2014-06-01\n294   2014-07-01\n295   2014-08-01\n296   2014-09-01\n297   2014-10-01\n298   2014-11-01\n299   2014-12-01\n300   2015-01-01\n301   2015-02-01\n302   2015-03-01\n303   2015-04-01\n304   2015-05-01\n305   2015-06-01\n306   2015-07-01\n307   2015-08-01\n308   2015-09-01\n309   2015-10-01\n310   2015-11-01\n311   2015-12-01\n312   2016-01-01\n313   2016-02-01\n314   2016-03-01\nName: date_stamp, dtype: datetime64[ns]']
['0     1990-01-01\n1     1990-02-01\n2     1990-03-01\n3     1990-04-01\n4     1990-05-01\n5     1990-06-01\n6     1990-07-01\n7     1990-08-01\n8     1990-09-01\n9     1990-10-01\n10    1990-11-01\n11    1990-12-01\n12    1991-01-01\n13    1991-02-01\n14    1991-03-01\n15    1991-04-01\n16    1991-05-01\n17    1991-06-01\n18    1991-07-01\n19    1991-08-01\n20    1991-09-01\n21    1991-10-01\n22    1991-11-01\n23    1991-12-01\n24    1992-01-01\n25    1992-02-01\n26    1992-03-01\n27    1992-04-01\n28    1992-05-01\n29    1992-06-01\n         ...    \n285   2013-10-01\n286   2013-11-01\n287   2013-12-01\n288   2014-01-01\n289   2014-02-01\n290   2014-03-01\n291   2014-04-01\n292   2014-05-01\n293   2014-06-01\n294   2014-07-01\n295   2014-08-01\n296   2014-09-01\n297   2014-10-01\n298   2014-11-01\n299   2014-12-01\n300   2015-01-01\n301   2015-02-01\n302   2015-03-01\n303   2015-04-01\n304   2015-05-01\n305   2015-06-01\n306   2015-07-01\n307   2015-08-01\n308   2015-09-01\n309   2015-10-01\n310   2015-11-01\n311   2015-12-01\n312   2016-01-01\n313   2016-02-01\n314   2016-03-01\nName: date_stamp, dtype: datetime64[ns]']
['0     1990-01-01\n1     1990-02-01\n2     1990-03-01\n3     1990-04-01\n4     1990-05-01\n5     1990-06-01\n6     1990-07-01\n7     1990-08-01\n8     1990-09-01\n9     1990-10-01\n10    1990-11-01\n11    1990-12-01\n12    1991-01-01\n13    1991-02-01\n14    1991-03-01\n15    1991-04-01\n16    1991-05-01\n17    1991-06-01\n18    1991-07-01\n19    1991-08-01\n20    1991-09-01\n21    1991-10-01\n22    1991-11-01\n23    1991-12-01\n24    1992-01-01\n25    1992-02-01\n26    1992-03-01\n27    1992-04-01\n28    1992-05-01\n29    1992-06-01\n         ...    \n285   2013-10-01\n286   2013-11-01\n287   2013-12-01\n288   2014-01-01\n289   2014-02-01\n290   2014-03-01\n291   2014-04-01\n292   2014-05-01\n293   2014-06-01\n294   2014-07-01\n295   2014-08-01\n296   2014-09-01\n297   2014-10-01\n298   2014-11-01\n299   2014-12-01\n300   2015-01-01\n301   2015-02-01\n302   2015-03-01\n303   2015-04-01\n304   2015-05-01\n305   2015-06-01\n306   2015-07-01\n307   2015-08-01\n308   2015-09-01\n309   2015-10-01\n310   2015-11-01\n311   2015-12-01\n312   2016-01-01\n313   2016-02-01\n314   2016-03-01\nName: date_stamp, dtype: datetime64[ns]']
['0     1990-01-01\n1     1990-02-01\n2     1990-03-01\n3     1990-04-01\n4     1990-05-01\n5     1990-06-01\n6     1990-07-01\n7     1990-08-01\n8     1990-09-01\n9     1990-10-01\n10    1990-11-01\n11    1990-12-01\n12    1991-01-01\n13    1991-02-01\n14    1991-03-01\n15    1991-04-01\n16    1991-05-01\n17    1991-06-01\n18    1991-07-01\n19    1991-08-01\n20    1991-09-01\n21    1991-10-01\n22    1991-11-01\n23    1991-12-01\n24    1992-01-01\n25    1992-02-01\n26    1992-03-01\n27    1992-04-01\n28    1992-05-01\n29    1992-06-01\n         ...    \n285   2013-10-01\n286   2013-11-01\n287   2013-12-01\n288   2014-01-01\n289   2014-02-01\n290   2014-03-01\n291   2014-04-01\n292   2014-05-01\n293   2014-06-01\n294   2014-07-01\n295   2014-08-01\n296   2014-09-01\n297   2014-10-01\n298   2014-11-01\n299   2014-12-01\n300   2015-01-01\n301   2015-02-01\n302   2015-03-01\n303   2015-04-01\n304   2015-05-01\n305   2015-06-01\n306   2015-07-01\n307   2015-08-01\n308   2015-09-01\n309   2015-10-01\n310   2015-11-01\n311   2015-12-01\n312   2016-01-01\n313   2016-02-01\n314   2016-03-01\nName: date_stamp, dtype: datetime64[ns]']

In [525]:
def get_year():
    for y in df_sa_king2["date_stamp"]:
        year= df_sa_king2['date_stamp']
            print str(year)
            #print [str(year)[6:10]] 
    
    
    #year= str(df_sa_king['date_stamp'])[:4]
       # df_sa_king2["year"] = year
        
        #print  year
        
        #year = ""

IndentationError: unexpected indent (<ipython-input-525-32f6bd9fd78e>, line 4)

In [447]:
df_sa_king2

NAICS INDUSTRY,Total Nonfarm,Total Private,Goods Producing,Mining and Logging,Construction,Construction of Buildings,Heavy and Civil Engineering Construction,Specialty Trade Contractors,Manufacturing,Durable Goods Mfg,...,Membership Associations and Organizations,Government,Federal Government,Total State Government,State Government Educational Services,Total Local Government,Local Government Educational Services,date_stamp,year,datestamp
0,1096300,951400,277800,1900,61900,18400,8300,35200,214000,179600,...,17100,144900,21700,42300,29800,80900,36400,1990-01-01 00:00:00,1990,1990
1,1098400,952200,276800,1900,61800,18500,8200,35100,213100,178700,...,17100,146200,21700,42500,29800,82000,36500,1990-02-01 00:00:00,1990,1990
2,1101600,956300,278100,1900,62600,18900,8300,35400,213600,179200,...,17100,145300,22000,42700,29900,80600,36500,1990-03-01 00:00:00,1990,1990
3,1103100,957600,277300,2000,63200,19300,8500,35400,212100,177400,...,16900,145500,22100,42900,30100,80500,36600,1990-04-01 00:00:00,1990,1990
4,1106100,960200,277400,2000,63700,19500,8400,35800,211700,176900,...,16900,145900,22800,43200,30200,79900,36800,1990-05-01 00:00:00,1990,1990
5,1111200,964400,277900,2000,63800,19600,8400,35800,212100,177000,...,17100,146800,22000,43200,30200,81600,36900,1990-06-01 00:00:00,1990,1990
6,1113900,966700,278800,2000,63200,19200,8500,35500,213600,178200,...,17000,147200,21900,43800,30700,81500,35600,1990-07-01 00:00:00,1990,1990
7,1119000,967500,278100,2000,62900,19100,8400,35400,213200,177900,...,17100,151500,21500,43900,30700,86100,39400,1990-08-01 00:00:00,1990,1990
8,1115500,967100,277500,2000,62600,19000,8400,35200,212900,177300,...,17100,148400,21400,44100,30700,82900,37600,1990-09-01 00:00:00,1990,1990
9,1112200,963700,274800,2000,61400,18700,8200,34500,211400,175800,...,17100,148500,21200,44000,30600,83300,38000,1990-10-01 00:00:00,1990,1990
10,1116500,966900,275300,2000,61200,18600,8200,34400,212100,176400,...,17100,149600,21300,44100,30600,84200,38300,1990-11-01 00:00:00,1990,1990
11,1115600,965400,274000,1900,60600,18300,8300,34000,211500,175800,...,17100,150200,21200,44200,30700,84800,38500,1990-12-01 00:00:00,1990,1990
12,1109100,959100,271700,1800,60100,18300,8300,33500,209800,174300,...,17100,150000,21100,44400,31200,84500,38400,1991-01-01 00:00:00,1990,1990
13,1107500,959000,271200,1900,60700,18400,8400,33900,208600,172900,...,17000,148500,21200,44800,31300,82500,38700,1991-02-01 00:00:00,1990,1990
14,1111000,960600,270300,1900,60000,18300,8200,33500,208400,172500,...,17000,150400,21200,44800,31100,84400,38900,1991-03-01 00:00:00,1990,1990
15,1109100,957100,269000,1900,59500,17800,8000,33700,207600,172100,...,17100,152000,21200,45300,31600,85500,39000,1991-04-01 00:00:00,1990,1990
16,1113600,960400,269400,1900,59600,18100,8000,33500,207900,172200,...,17200,153200,21300,45300,31500,86600,39000,1991-05-01 00:00:00,1990,1990
17,1111600,958700,269100,1800,59000,17900,8000,33100,208300,172700,...,17000,152900,21400,45600,31800,85900,39300,1991-06-01 00:00:00,1990,1990
18,1116000,961000,270400,1700,59600,18200,7900,33500,209100,173600,...,17100,155000,21400,45500,31700,88100,41100,1991-07-01 00:00:00,1990,1990
19,1115800,961800,271200,1800,60000,18300,8000,33700,209400,173200,...,17200,154000,21700,45800,31900,86500,39500,1991-08-01 00:00:00,1990,1990
20,1118100,963300,271500,1800,60200,18400,8000,33800,209500,173500,...,17200,154800,21800,46200,32200,86800,39500,1991-09-01 00:00:00,1990,1990
21,1119100,964000,271200,1700,60800,18500,8000,34300,208700,172700,...,17300,155100,21700,46800,32600,86600,39000,1991-10-01 00:00:00,1990,1990
22,1121700,966500,271400,1800,61000,18500,8000,34500,208600,172600,...,17300,155200,21600,46900,32800,86700,39100,1991-11-01 00:00:00,1990,1990
23,1121800,967000,271000,1800,61100,18600,8000,34500,208100,172400,...,17200,154800,21700,47000,33000,86100,39000,1991-12-01 00:00:00,1990,1990
24,1125900,969900,271000,1600,61400,18600,8000,34800,208000,171400,...,17600,156000,21600,47100,32800,87300,39300,1992-01-01 00:00:00,1990,1990
25,1127300,969800,270000,1700,61400,18600,8000,34800,206900,170300,...,17600,157500,21600,47300,32800,88600,39200,1992-02-01 00:00:00,1990,1990
26,1127900,969000,269900,1600,61500,18600,7900,35000,206800,170100,...,17600,158900,21700,47200,33000,90000,39300,1992-03-01 00:00:00,1990,1990
27,1127800,970400,270000,1600,62300,18900,8300,35100,206100,169200,...,17600,157400,21700,46800,32700,88900,39400,1992-04-01 00:00:00,1990,1990
28,1129000,969800,270400,1600,62700,19000,8400,35300,206100,169200,...,17300,159200,21700,47100,32900,90400,39600,1992-05-01 00:00:00,1990,1990
29,1128600,970800,269800,1600,63000,19100,8300,35600,205200,168100,...,17400,157800,21700,46600,32300,89500,39800,1992-06-01 00:00:00,1990,1990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,1514900,1306700,244800,700,74000,18700,8700,46600,170100,143000,...,25700,208200,22200,64700,47500,121300,51700,2013-10-01 00:00:00,1990,1990
286,1521200,1312500,243900,700,73300,18700,8300,46300,169900,143200,...,23900,208700,22000,64900,47900,121800,54000,2013-11-01 00:00:00,1990,1990
287,1522800,1318100,243800,700,72600,18700,8000,45900,170500,143900,...,23500,204700,21700,61800,44800,121200,55200,2013-12-01 00:00:00,1990,1990
288,1540900,1331100,243800,700,73900,18800,7900,47200,169200,142600,...,25700,209800,22500,65700,47800,121600,56000,2014-01-01 00:00:00,1990,1990
289,1544200,1334400,244000,700,74000,18800,7800,47400,169300,142000,...,26900,209800,22400,65800,48200,121600,56200,2014-02-01 00:00:00,1990,1990
290,1544500,1333500,244700,700,74900,19100,8000,47800,169100,142100,...,27100,211000,22500,66000,48400,122500,56000,2014-03-01 00:00:00,1990,1990
291,1537400,1326400,244200,700,74500,18700,8100,47700,169000,142000,...,26700,211000,22700,65400,48100,122900,54800,2014-04-01 00:00:00,1990,1990
292,1538300,1327300,245700,700,75700,19000,8400,48300,169300,142400,...,27000,211000,22400,65300,48400,123300,55100,2014-05-01 00:00:00,1990,1990
293,1536900,1328400,247800,700,76700,19500,8600,48600,170400,143100,...,27000,208500,22100,62700,45600,123700,54300,2014-06-01 00:00:00,1990,1990
294,1543600,1340600,252100,700,79000,20100,8800,50100,172400,144200,...,27500,203000,22300,57900,40400,122800,51900,2014-07-01 00:00:00,1990,1990
295,1547700,1352100,253000,700,80300,20600,8900,50800,172000,143800,...,27200,195600,22000,55900,38600,117700,46600,2014-08-01 00:00:00,1990,1990
296,1545100,1342100,252900,700,80900,21100,8900,50900,171300,142900,...,26800,203000,21900,61600,44500,119500,48700,2014-09-01 00:00:00,1990,1990
297,1557700,1347000,252500,800,81400,21100,8800,51500,170300,142500,...,26200,210700,21900,65300,48600,123500,53200,2014-10-01 00:00:00,1990,1990
298,1562800,1351100,252300,800,81300,21200,8300,51800,170200,142800,...,24400,211700,21600,65600,49000,124500,55500,2014-11-01 00:00:00,1990,1990
299,1568100,1360200,253100,800,81800,21700,8000,52100,170500,143200,...,24000,207900,21400,63000,46100,123500,56900,2014-12-01 00:00:00,1990,1990
300,1584800,1371200,254900,800,83700,21600,7500,54600,170400,142700,...,25800,213600,22000,67200,49300,124400,57800,2015-01-01 00:00:00,1990,1990
301,1589900,1375900,255100,800,84100,21700,7500,54900,170200,142400,...,27000,214000,22100,67600,49900,124300,58000,2015-02-01 00:00:00,1990,1990
302,1593000,1377700,256700,800,84900,22000,7700,55200,171000,142700,...,27200,215300,22100,67900,50100,125300,57700,2015-03-01 00:00:00,1990,1990
303,1589000,1372800,255900,800,85100,21900,8000,55200,170000,142400,...,26900,216200,22500,67100,49600,126600,56800,2015-04-01 00:00:00,1990,1990
304,1587700,1372300,256300,800,85400,22100,8100,55200,170100,142600,...,27000,215400,22100,66000,49100,127300,57200,2015-05-01 00:00:00,1990,1990
305,1591500,1376800,258600,800,86400,22600,8400,55400,171400,143300,...,26800,214700,22000,64800,47500,127900,56500,2015-06-01 00:00:00,1990,1990
306,1590500,1382600,261300,800,87700,22600,8600,56500,172800,144300,...,27300,207900,22300,59600,42400,126000,53300,2015-07-01 00:00:00,1990,1990
307,1594000,1392400,260900,800,87600,22700,8500,56400,172500,143500,...,27100,201600,22000,57900,40900,121700,48700,2015-08-01 00:00:00,1990,1990
308,1594100,1385300,260600,800,87300,22900,8500,55900,172500,143300,...,27000,208800,21800,64500,47400,122500,49600,2015-09-01 00:00:00,1990,1990
309,1594600,1380200,254500,700,85000,22200,8100,54700,168800,140400,...,26000,214400,21900,66700,50200,125800,54300,2015-10-01 00:00:00,1990,1990
310,1598900,1382000,252900,700,83800,21900,7800,54100,168400,141200,...,23700,216900,21600,68300,51500,127000,56700,2015-11-01 00:00:00,1990,1990
311,1602600,1390300,254100,700,84800,22200,7400,55200,168600,142200,...,23200,212300,21400,64700,47700,126200,58200,2015-12-01 00:00:00,1990,1990
312,1607700,1394000,251900,700,85000,22000,6900,56100,166200,139800,...,25300,213700,21800,66400,49000,125500,58300,2016-01-01 00:00:00,1990,1990
313,1615600,1400200,252700,800,86700,22200,7000,57500,165200,138500,...,26700,215400,21900,67900,50600,125600,58500,2016-02-01 00:00:00,1990,1990
314,1619900,1402600,254200,700,88000,22100,7200,58700,165500,138200,...,26700,217300,21900,68800,51300,126600,58200,2016-03-01 00:00:00,1990,1990

In [528]:
df_sa_king2.loc[0]["date_stamp"].month

1

In [418]:
str(df_sa_king2.loc[0]["date_stamp"])[:4]

'1990'

In [531]:
df_sa_king2["date_stamp"].year

AttributeError: 'Series' object has no attribute 'year'

In [367]:
df_sa_king.head()

NAICS CELL,index,0,5000000,6000000,10000000,20000000,20236000,20237000,20238000,30000000,...,80000000,80811000,80812000,80813000,90000000,90910000,90920000,90921611,90930000,90931611
0,NAICS INDUSTRY,Total Nonfarm,Total Private,Goods Producing,Mining and Logging,Construction,Construction of Buildings,Heavy and Civil Engineerin...,Specialty Trade Contractors,Manufacturing,...,Other Services,Repair and Maintenance,Personal and Laundry Services,Membership Associations and Or...,Government,Federal Government,Total State Government,State Government Education...,Total Local Government,Local Government Education...
1,1990-01-01 00:00:00,1096300,951400,277800,1900,61900,18400,8300,35200,214000,...,40100,11400,11600,17100,144900,21700,42300,29800,80900,36400
2,1990-02-01 00:00:00,1098400,952200,276800,1900,61800,18500,8200,35100,213100,...,40200,11500,11600,17100,146200,21700,42500,29800,82000,36500
3,1990-03-01 00:00:00,1101600,956300,278100,1900,62600,18900,8300,35400,213600,...,40400,11600,11700,17100,145300,22000,42700,29900,80600,36500
4,1990-04-01 00:00:00,1103100,957600,277300,2000,63200,19300,8500,35400,212100,...,40200,11700,11600,16900,145500,22100,42900,30100,80500,36600

In [368]:
df_sa_king["Total Nonfarm"].head()

KeyError: 'Total Nonfarm'

In [ ]:
df_sa_king.head()

In [247]:
# df_sa_king.drop(df_sa_king.columns[[1]], axis = 1).head()

In [256]:
df_sa_king= df_sa_king.drop(df_sa_king.columns[1:], axis = 1)
df_sa_king.head()

NAICS INDUSTRY      index
0              1990-01-01
1              1990-02-01
2              1990-03-01
3              1990-04-01
4              1990-05-01

In [249]:
df_sa_king= df_sa_king.reset_index()

In [251]:
df_sa_king.head()

NAICS INDUSTRY      index  Total Nonfarm
0              1990-01-01        1096300
1              1990-02-01        1098400
2              1990-03-01        1101600
3              1990-04-01        1103100
4              1990-05-01        1106100

In [252]:
df_sa_king.index

RangeIndex(start=0, stop=315, step=1)

In [253]:
df_sa_king.columns

Index([u'index', u'Total Nonfarm'], dtype='object', name=u'NAICS INDUSTRY')

In [132]:
xl_file = pd.ExcelFile(os.getcwd()+"/"+ sa_filename)

In [133]:
dfs = {sheet_name: xl_file.parse(sheet_name) 
          for sheet_name in xl_file.sheet_names}

In [177]:
dfs["Yakima MSA"].head()

,Yakima MSA Quarterly Benchmarked,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 307,Unnamed: 308,Unnamed: 309,Unnamed: 310,Unnamed: 311,Unnamed: 312,Unnamed: 313,Unnamed: 314,Unnamed: 315,Unnamed: 316
0,NAICS CELL,NAICS INDUSTRY,1990-01-01 00:00:00,1990-02-01 00:00:00,1990-03-01 00:00:00,1990-04-01 00:00:00,1990-05-01 00:00:00,1990-06-01 00:00:00,1990-07-01 00:00:00,1990-08-01 00:00:00,...,2015-06-01 00:00:00,2015-07-01 00:00:00,2015-08-01 00:00:00,2015-09-01 00:00:00,2015-10-01 00:00:00,2015-11-01 00:00:00,2015-12-01 00:00:00,2016-01-01 00:00:00,2016-02-01 00:00:00,2016-03-01 00:00:00
1,00000000,Total Nonfarm,63600,63600,64100,64300,64500,65000,65000,65000,...,82700,82400,84300,83900,84400,84200,84900,84900,85000,85300
2,05000000,Total Private,51700,51700,52100,52200,52300,52600,52400,52600,...,65600,64800,65600,65600,66200,66100,66500,66900,67200,67600
3,06000000,Goods Producing,12200,12100,12500,12400,12600,12800,12800,12800,...,12400,12200,12700,12900,12900,12500,12200,12200,12100,12300
4,15000000,"Mining, Logging, and Construction",2400,2300,2400,2400,2500,2500,2500,2600,...,3800,3800,3800,3800,3800,3800,3700,3400,3400,3600