In [319]:
import os
import pandas as pd
import urllib
import datetime
import time

In [320]:
time.strftime("%m%d%Y")

'05192016'

In [321]:
start = time.time()
print "hello Jalal Jahir what"
print "hello Jalal Jahir is a GREAT Guy"
end = time.time()
processtime = end - start
print "{0: .3}".format(processtime)
print float(processtime)

hello Jalal Jahir what
hello Jalal Jahir is a GREAT Guy
 0.0
0.0

In [322]:
print os.getcwd()

J:\Staff\Jalal\Monthly_Emp_Update_Scratch\wa_esd_emp

In [323]:
current_dir = os.getcwd()

In [702]:
esd_sa_url = "https://fortress.wa.gov/esd/employmentdata/docs/economic-reports/wa-historical-employment-seasonally-adjusted.xlsx"
sa_filename = esd_sa_url[-49:-5]+"_"+time.strftime("%m%d%Y")+esd_sa_url[-5:]
def download_esd_sa():
    start = time.time()
    esdfile = urllib.URLopener()
    esdfile.retrieve(esd_sa_url, os.getcwd()+"/"+ sa_filename)
    end = time.time()
    processtime = end - start
    print "{0: .3}".format(processtime)

In [703]:
download_esd_sa()

IOError: [Errno 22] invalid mode ('wb') or filename: 'J:\\Staff\\Jalal\\Monthly_Emp_Update_Scratch\\wa_esd_emp/wa-historical-employment-seasonally-adjusted_05192016.xlsx'

In [13]:
help (urllib)

Help on module urllib:

NAME
    urllib - Open an arbitrary URL.

FILE
    c:\users\jalal\anaconda2\lib\urllib.py

DESCRIPTION
    See the following document for more info on URLs:
    "Names and Addresses, URIs, URLs, URNs, URCs", at
    http://www.w3.org/pub/WWW/Addressing/Overview.html

    See also the HTTP spec (from which the error codes are derived):
    "HTTP - Hypertext Transfer Protocol", at
    http://www.w3.org/pub/WWW/Protocols/

    Related standards and specs:
    - RFC1808: the "relative URL" spec. (authoritative status)
    - RFC1738 - the "URL standard". (authoritative status)
    - RFC1630 - the "URI spec". (informational status)

    The object returned by URLopener().open(file) will differ per
    protocol.  All you know is that is has methods read(), readline(),
    readlines(), fileno(), close() and info().  The read*(), fileno()
    and close() methods work like those of open files.
    The info() method returns a mimetools.Message object which can be
    used to query various info about the object, if available.
    (mimetools.Message objects are queried with the getheader() method.)

CLASSES
    URLopener
        FancyURLopener

    class FancyURLopener(URLopener)
     |  Derived class with handlers for errors we can handle (perhaps).
     |
     |  Methods defined here:
     |
     |  __init__(self, *args, **kwargs)
     |
     |  get_user_passwd(self, host, realm, clear_cache=0)
     |
     |  http_error_301(self, url, fp, errcode, errmsg, headers, data=None)
     |      Error 301 -- also relocated (permanently).
     |
     |  http_error_302(self, url, fp, errcode, errmsg, headers, data=None)
     |      Error 302 -- relocated (temporarily).
     |
     |  http_error_303(self, url, fp, errcode, errmsg, headers, data=None)
     |      Error 303 -- also relocated (essentially identical to 302).
     |
     |  http_error_307(self, url, fp, errcode, errmsg, headers, data=None)
     |      Error 307 -- relocated, but turn POST into error.
     |
     |  http_error_401(self, url, fp, errcode, errmsg, headers, data=None)
     |      Error 401 -- authentication required.
     |      This function supports Basic authentication only.
     |
     |  http_error_407(self, url, fp, errcode, errmsg, headers, data=None)
     |      Error 407 -- proxy authentication required.
     |      This function supports Basic authentication only.
     |
     |  http_error_default(self, url, fp, errcode, errmsg, headers)
     |      Default error handling -- don't raise an exception.
     |
     |  prompt_user_passwd(self, host, realm)
     |      Override this in a GUI environment!
     |
     |  redirect_internal(self, url, fp, errcode, errmsg, headers, data)
     |
     |  retry_http_basic_auth(self, url, realm, data=None)
     |
     |  retry_https_basic_auth(self, url, realm, data=None)
     |
     |  retry_proxy_http_basic_auth(self, url, realm, data=None)
     |
     |  retry_proxy_https_basic_auth(self, url, realm, data=None)
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from URLopener:
     |
     |  __del__(self)
     |
     |  addheader(self, *args)
     |      Add a header to be used by the HTTP interface only
     |      e.g. u.addheader('Accept', 'sound/basic')
     |
     |  cleanup(self)
     |
     |  close(self)
     |
     |  http_error(self, url, fp, errcode, errmsg, headers, data=None)
     |      Handle http errors.
     |      Derived class can override this, or provide specific handlers
     |      named http_error_DDD where DDD is the 3-digit error code.
     |
     |  open(self, fullurl, data=None)
     |      Use URLopener().open(file) instead of open(file, 'r').
     |
     |  open_data(self, url, data=None)
     |      Use "data" URL.
     |
     |  open_file(self, url)
     |      Use local file or FTP depending on form of URL.
     |
     |  open_ftp(self, url)
     |      Use FTP protocol.
     |
     |  open_http(self, url, data=None)
     |      Use HTTP protocol.
     |
     |  open_https(self, url, data=None)
     |      Use HTTPS protocol.
     |
     |  open_local_file(self, url)
     |      Use local file.
     |
     |  open_unknown(self, fullurl, data=None)
     |      Overridable interface to open unknown URL type.
     |
     |  open_unknown_proxy(self, proxy, fullurl, data=None)
     |      Overridable interface to open unknown URL type.
     |
     |  retrieve(self, url, filename=None, reporthook=None, data=None)
     |      retrieve(url) returns (filename, headers) for a local object
     |      or (tempfilename, headers) for a remote object.
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from URLopener:
     |
     |  version = 'Python-urllib/1.17'

    class URLopener
     |  Class to open URLs.
     |  This is a class rather than just a subroutine because we may need
     |  more than one set of global protocol-specific options.
     |  Note -- this is a base class for those who don't want the
     |  automatic handling of errors type 302 (relocated) and 401
     |  (authorization needed).
     |
     |  Methods defined here:
     |
     |  __del__(self)
     |
     |  __init__(self, proxies=None, context=None, **x509)
     |      # Constructor
     |
     |  addheader(self, *args)
     |      Add a header to be used by the HTTP interface only
     |      e.g. u.addheader('Accept', 'sound/basic')
     |
     |  cleanup(self)
     |
     |  close(self)
     |
     |  http_error(self, url, fp, errcode, errmsg, headers, data=None)
     |      Handle http errors.
     |      Derived class can override this, or provide specific handlers
     |      named http_error_DDD where DDD is the 3-digit error code.
     |
     |  http_error_default(self, url, fp, errcode, errmsg, headers)
     |      Default error handler: close the connection and raise IOError.
     |
     |  open(self, fullurl, data=None)
     |      Use URLopener().open(file) instead of open(file, 'r').
     |
     |  open_data(self, url, data=None)
     |      Use "data" URL.
     |
     |  open_file(self, url)
     |      Use local file or FTP depending on form of URL.
     |
     |  open_ftp(self, url)
     |      Use FTP protocol.
     |
     |  open_http(self, url, data=None)
     |      Use HTTP protocol.
     |
     |  open_https(self, url, data=None)
     |      Use HTTPS protocol.
     |
     |  open_local_file(self, url)
     |      Use local file.
     |
     |  open_unknown(self, fullurl, data=None)
     |      Overridable interface to open unknown URL type.
     |
     |  open_unknown_proxy(self, proxy, fullurl, data=None)
     |      Overridable interface to open unknown URL type.
     |
     |  retrieve(self, url, filename=None, reporthook=None, data=None)
     |      retrieve(url) returns (filename, headers) for a local object
     |      or (tempfilename, headers) for a remote object.
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  version = 'Python-urllib/1.17'

FUNCTIONS
    basejoin = urljoin(base, url, allow_fragments=True)
        Join a base URL and a possibly relative URL to form an absolute
        interpretation of the latter.

    ftperrors()
        Return the set of errors raised by the FTP class.

    getproxies()
        Return a dictionary of scheme -> proxy server URL mappings.

        Returns settings gathered from the environment, if specified,
        or the registry.

    localhost()
        Return the IP address of the magic hostname 'localhost'.

    pathname2url(p)
        OS-specific conversion from a file system path to a relative URL
        of the 'file' scheme; not recommended for general use.

    quote(s, safe='/')
        quote('abc def') -> 'abc%20def'

        Each part of a URL, e.g. the path info, the query, etc., has a
        different set of reserved characters that must be quoted.

        RFC 2396 Uniform Resource Identifiers (URI): Generic Syntax lists
        the following reserved characters.

        reserved    = ";" | "/" | "?" | ":" | "@" | "&" | "=" | "+" |
                      "$" | ","

        Each of these characters is reserved in some component of a URL,
        but not necessarily in all of them.

        By default, the quote function is intended for quoting the path
        section of a URL.  Thus, it will not encode '/'.  This character
        is reserved, but in typical usage the quote function is being
        called on a path where the existing slash characters are used as
        reserved characters.

    quote_plus(s, safe='')
        Quote the query fragment of a URL; replacing ' ' with '+'

    splitattr(url)
        splitattr('/path;attr1=value1;attr2=value2;...') ->
        '/path', ['attr1=value1', 'attr2=value2', ...].

    splithost(url)
        splithost('//host[:port]/path') --> 'host[:port]', '/path'.

    splitnport(host, defport=-1)
        Split host and port, returning numeric port.
        Return given default port if no ':' found; defaults to -1.
        Return numerical port if a valid number are found after ':'.
        Return None if ':' but not a valid number.

    splitpasswd(user)
        splitpasswd('user:passwd') -> 'user', 'passwd'.

    splitport(host)
        splitport('host:port') --> 'host', 'port'.

    splitquery(url)
        splitquery('/path?query') --> '/path', 'query'.

    splittag(url)
        splittag('/path#tag') --> '/path', 'tag'.

    splittype(url)
        splittype('type:opaquestring') --> 'type', 'opaquestring'.

    splituser(host)
        splituser('user[:passwd]@host[:port]') --> 'user[:passwd]', 'host[:port]'.

    splitvalue(attr)
        splitvalue('attr=value') --> 'attr', 'value'.

    thishost()
        Return the IP address of the current host.

    unquote(s)
        unquote('abc%20def') -> 'abc def'.

    unquote_plus(s)
        unquote('%7e/abc+def') -> '~/abc def'

    unwrap(url)
        unwrap('<URL:type://host/path>') --> 'type://host/path'.

    url2pathname(url)
        OS-specific conversion from a relative URL of the 'file' scheme
        to a file system path; not recommended for general use.

    urlcleanup()

    urlencode(query, doseq=0)
        Encode a sequence of two-element tuples or dictionary into a URL query string.

        If any values in the query arg are sequences and doseq is true, each
        sequence element is converted to a separate parameter.

        If the query arg is a sequence of two-element tuples, the order of the
        parameters in the output will match the order of parameters in the
        input.

    urlopen(url, data=None, proxies=None, context=None)
        Create a file-like object for the specified URL to read from.

    urlretrieve(url, filename=None, reporthook=None, data=None, context=None)

DATA
    __all__ = ['urlopen', 'URLopener', 'FancyURLopener', 'urlretrieve', 'u...
    __version__ = '1.17'

VERSION
    1.17

In [699]:
esd_sa_file = pd.ExcelFile(os.getcwd()+"\"+ sa_filename)

SyntaxError: EOL while scanning string literal (<ipython-input-699-3f1d159a2ed2>, line 1)

In [ ]:
dfs = {sheet_name: xl_file.parse(sheet_name) 
          for sheet_name in xl_file.sheet_names}

In [664]:
df_sa_kin_sno = pd.read_excel(os.getcwd()+"/"+ sa_filename, sheetname="Seattle MSA", header = 1, index_col=[1])

In [665]:
type(df_sa_kin_sno)

pandas.core.frame.DataFrame

In [666]:
df_sa_kin_sno.head()

,NAICS CELL,1990-01-01 00:00:00,1990-02-01 00:00:00,1990-03-01 00:00:00,1990-04-01 00:00:00,1990-05-01 00:00:00,1990-06-01 00:00:00,1990-07-01 00:00:00,1990-08-01 00:00:00,1990-09-01 00:00:00,...,2015-07-01 00:00:00,2015-08-01 00:00:00,2015-09-01 00:00:00,2015-10-01 00:00:00,2015-11-01 00:00:00,2015-12-01 00:00:00,2016-01-01 00:00:00,2016-02-01 00:00:00,2016-03-01 00:00:00,2016-04-01 00:00:00
NAICS INDUSTRY,,,,,,,,,,,,,,,,,,,,,
Total Nonfarm,0,1096300,1098400,1101600,1103100,1106100,1111200,1113900,1119000,1115500,...,1596400,1602200,1606100,1606300,1608600,1614000,1619100,1627000,1629200,1634100
Total Private,5000000,951400,952200,956300,957600,960200,964400,966700,967500,967100,...,1383400,1386100,1390600,1391800,1393700,1399100,1406100,1412000,1412900,1417600
Goods Producing,6000000,277800,276800,278100,277300,277400,277900,278800,278100,277500,...,258900,257400,257500,257100,257700,259500,258700,259500,260100,259500
Mining and Logging,10000000,1900,1900,1900,2000,2000,2000,2000,2000,2000,...,800,700,800,800,800,800,800,800,800,800
Construction,20000000,61900,61800,62600,63200,63700,63800,63200,62900,62600,...,86300,85500,85700,86600,87100,88600,89000,90900,91700,91100

In [667]:
#transpose the dataframe

df_sa_kin_sno = df_sa_kin_sno.transpose()

In [668]:
#transposing caused the date column to be the index column, so
#extracting the date information to another column named "date_stamp"

df_sa_kin_sno['date_stamp'] = df_sa_kin_sno.index

In [669]:
#deleting the first data row (not the header) containing NAICS info 
#entirely for formatting purposes 

df_sa_kin_sno = df_sa_kin_sno.ix[1:]

In [670]:
#Resetting the index of the dataframe
#as we already copied the date info into another column, nothing to worry

df_sa_kin_sno = df_sa_kin_sno.reset_index(drop =True)

#renaming the index colum from "NAICS Industy" to "id" 

df_sa_kin_sno.columns.names = ["id"]

In [671]:
#get a column for year and one for month (note the foramting for month)
df_sa_kin_sno["year"] = df_sa_kin_sno["date_stamp"].dt.year
df_sa_kin_sno["month"] = df_sa_kin_sno["date_stamp"].dt.strftime("%b")

#get the month column to string (not essential)
df_sa_kin_sno["month"] = df_sa_kin_sno["month"].astype("str")

In [672]:
df_sa_kin_sno.tail()

id,Total Nonfarm,Total Private,Goods Producing,Mining and Logging,Construction,Construction of Buildings,Heavy and Civil Engineering Construction,Specialty Trade Contractors,Manufacturing,Durable Goods Mfg,...,Membership Associations and Organizations,Government,Federal Government,Total State Government,State Government Educational Services,Total Local Government,Local Government Educational Services,date_stamp,year,month
311,1614000,1399100,259500,800,88600,22900,8100,57600,170100,142300,...,27300,214900,22100,66100,48900,126700,55400,2015-12-01 00:00:00,2015,Dec
312,1619100,1406100,258700,800,89000,23000,8000,58000,168900,141100,...,27800,213000,22100,64400,47400,126500,55200,2016-01-01 00:00:00,2016,Jan
313,1627000,1412000,259500,800,90900,23400,8200,59300,167800,139900,...,28000,215000,22100,65800,48700,127100,55400,2016-02-01 00:00:00,2016,Feb
314,1629200,1412900,260100,800,91700,23400,8200,60100,167600,139300,...,27800,216300,22000,65800,48600,128500,55700,2016-03-01 00:00:00,2016,Mar
315,1634100,1417600,259500,800,91100,24400,8300,58400,167600,139300,...,28100,216500,22000,65500,48300,129000,55900,2016-04-01 00:00:00,2016,Apr

In [680]:
#get the list of column names, any of the options below works just fine
# list(df_sa_kin_sno)
# list(df_sa_kin_sno.columns.values)
kin_sno_list = df_sa_kin_sno.columns.values.tolist()

In [681]:
kin_sno_list[17]

u'        Service Providing'

In [682]:
kin_sno_list[62]

u'    Government'

In [683]:
kin_sno_list[65]

u'                    State Government Educational Services'

In [684]:
kin_sno_list[69]

'year'

In [685]:
df_sa_kin_sno["king & Snohomish: Total NonFarm"] = df_sa_kin_sno["Total Nonfarm"] 
df_sa_kin_sno["King & Snohomish: Consruction"] = df_sa_kin_sno[kin_sno_list[3]] + df_sa_kin_sno[kin_sno_list[4]]
df_sa_kin_sno["King & Snohomish: FIRE"] = df_sa_kin_sno[kin_sno_list[33]]
df_sa_kin_sno["King & Snohomish: Manufacturing"] = df_sa_kin_sno[kin_sno_list[8]]
df_sa_kin_sno["King & Snohomish: Retail"] = df_sa_kin_sno[kin_sno_list[20]]
df_sa_kin_sno["King & Snohomish: Service"] = df_sa_kin_sno[kin_sno_list[17]] - df_sa_kin_sno[kin_sno_list[18]] - df_sa_kin_sno[kin_sno_list[33]] - df_sa_kin_sno[kin_sno_list[62]]                                                     
df_sa_kin_sno["King & Snohomish: WTU"] = df_sa_kin_sno[kin_sno_list[18]] - df_sa_kin_sno[kin_sno_list[20]]
df_sa_kin_sno["King & Snohomish: Government"] = df_sa_kin_sno[kin_sno_list[62]] - df_sa_kin_sno[kin_sno_list[65]] - df_sa_kin_sno[kin_sno_list[67]]
df_sa_kin_sno["King & Snohomish: Education"] = df_sa_kin_sno[kin_sno_list[65]] + df_sa_kin_sno[kin_sno_list[67]]

In [373]:
#df_sa_kin_sno["Total Sector Jobs"] = df_sa_kin_sno.ix[:,72:].sum(axis=1)

In [375]:
#df_sa_kin_sno["Total Private Sum"] = df_sa_kin_sno.ix[:,72:-3].sum(axis= 1)

In [689]:
df_sa_kin_sno = df_sa_kin_sno.drop(df_sa_kin_sno.columns[:69], axis = 1)
#df_sa_kin_sno = df_sa_kin_sno.drop(df_sa_kin_sno.columns[range(69)], axis = 1)

In [692]:
df_sa_kin_sno = df_sa_kin_sno.drop(df_sa_kin_sno.index[[315]])

In [697]:
if df_sa_kin_sno["king & Snohomish: Total NonFarm"].all() == df_sa_kin_sno.ix[:,3:].sum(axis=1).all():
    print "Hudasdrray"
else:
    print "ERROR"

Hudasdrray

In [538]:
a =["a", 'b','C',"d","222"]

In [539]:
b = [1,2,5,6,9,8,16,21]

In [541]:
a[2:]

['C', 'd', '222']

In [382]:
b[2]+b[4]-b[6]

-2

In [657]:
time.strftime("%b")

'May'

In [484]:
a =5
b = 4
c= 2

In [485]:
if a == b+c:
    pass
else:
    print "ERROR"

ERROR

In [247]:
# df_sa_king.drop(df_sa_king.columns[[1]], axis = 1).head()

In [59]:
xl_file = pd.ExcelFile(os.getcwd()+"/"+ sa_filename)

In [60]:
dfs = {sheet_name: xl_file.parse(sheet_name) 
          for sheet_name in xl_file.sheet_names}

In [61]:
dfs["Yakima MSA"].head()

,Yakima MSA Quarterly Benchmarked,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 307,Unnamed: 308,Unnamed: 309,Unnamed: 310,Unnamed: 311,Unnamed: 312,Unnamed: 313,Unnamed: 314,Unnamed: 315,Unnamed: 316
0,NAICS CELL,NAICS INDUSTRY,1990-01-01 00:00:00,1990-02-01 00:00:00,1990-03-01 00:00:00,1990-04-01 00:00:00,1990-05-01 00:00:00,1990-06-01 00:00:00,1990-07-01 00:00:00,1990-08-01 00:00:00,...,2015-06-01 00:00:00,2015-07-01 00:00:00,2015-08-01 00:00:00,2015-09-01 00:00:00,2015-10-01 00:00:00,2015-11-01 00:00:00,2015-12-01 00:00:00,2016-01-01 00:00:00,2016-02-01 00:00:00,2016-03-01 00:00:00
1,00000000,Total Nonfarm,63600,63600,64100,64300,64500,65000,65000,65000,...,82700,82400,84300,83900,84400,84200,84900,84900,85000,85300
2,05000000,Total Private,51700,51700,52100,52200,52300,52600,52400,52600,...,65600,64800,65600,65600,66200,66100,66500,66900,67200,67600
3,06000000,Goods Producing,12200,12100,12500,12400,12600,12800,12800,12800,...,12400,12200,12700,12900,12900,12500,12200,12200,12100,12300
4,15000000,"Mining, Logging, and Construction",2400,2300,2400,2400,2500,2500,2500,2600,...,3800,3800,3800,3800,3800,3800,3700,3400,3400,3600

In [62]:
dfs["Seattle MSA"].head()

,Seattle MSA Quarterly Benchmarked,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 307,Unnamed: 308,Unnamed: 309,Unnamed: 310,Unnamed: 311,Unnamed: 312,Unnamed: 313,Unnamed: 314,Unnamed: 315,Unnamed: 316
0,NAICS CELL,NAICS INDUSTRY,1990-01-01 00:00:00,1990-02-01 00:00:00,1990-03-01 00:00:00,1990-04-01 00:00:00,1990-05-01 00:00:00,1990-06-01 00:00:00,1990-07-01 00:00:00,1990-08-01 00:00:00,...,2015-06-01 00:00:00,2015-07-01 00:00:00,2015-08-01 00:00:00,2015-09-01 00:00:00,2015-10-01 00:00:00,2015-11-01 00:00:00,2015-12-01 00:00:00,2016-01-01 00:00:00,2016-02-01 00:00:00,2016-03-01 00:00:00
1,00000000,Total Nonfarm,1096300,1098400,1101600,1103100,1106100,1111200,1113900,1119000,...,1591500,1590500,1594000,1594100,1594600,1598900,1602600,1607700,1615600,1619900
2,05000000,Total Private,951400,952200,956300,957600,960200,964400,966700,967500,...,1376800,1382600,1392400,1385300,1380200,1382000,1390300,1394000,1400200,1402600
3,06000000,Goods Producing,277800,276800,278100,277300,277400,277900,278800,278100,...,258600,261300,260900,260600,254500,252900,254100,251900,252700,254200
4,10000000,Mining and Logging,1900,1900,1900,2000,2000,2000,2000,2000,...,800,800,800,800,700,700,700,700,800,700